.navbar {
  position: relative;
  z-index: 2;
  padding-top: 2.44rem;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-header img {
    width: 7.5rem;
    height: 2.28244rem;
  object-fit: contain;
}

.navbar-btn {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 0.0125rem;
  display: flex;
  padding: 0.75rem 1.625rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  color: #fff;
  border: 1px solid  #0266f4;
  background:  #0266f4;
}

.navbar-btn:hover {
  background-color: #1f2666;
}

@media screen and (max-width: 400px){
  .navbar-btn {
    font-size: 0.75rem;
    line-height: 1.4rem;
    letter-spacing: 0.0125rem;
    padding: 0.6rem 1.5rem;
    
   
  }
  
}
