@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);


:root {
  font-family: "Open Sans", sans-serif;
}



*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

.cc-container {

  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

h2, h3 {
  color: #1F2666;
}



h3 {
  font-size: 1.3125rem;
}



.bootstrap h2 {
  color: #fff;
}


.html span,
.css span,
.design span {
  color: #0266F4;
}


.html p {
  color: #1E1E1E;
}
.capstone p,
.capstone span,
.capstone h2 {
  color: #fff;
}

/* .git span {
  color:#1F2666 ;
} */

@media screen and (max-width: 1024px) {
  .cc-container {

    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    margin: 0 auto;
    
   
  }
}

@media screen and (max-width: 600px) {
  .cc-container {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    margin: 0 auto;
    
   
  }
  .html
   {
    
    
    margin-top: 1.5rem;
  }

  .HTML,
  .css,
  .bootstrap,
  .design,
  .git {
    padding-top: 1.5rem;
    
  }

.checkbox {
  font-size: 5rem;
}

}






















/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
